{% extends 'base.html' %}

{% block webcontent %}

<!--<style>-->

<!--  .panel-primary {-->
<!--    border-color: #333;-->
<!--  }-->

<!--  .panel-heading {-->
<!--    background-color: #333;-->
<!--    color: #fff;-->
<!--  }-->

<!--  .panel-container {-->
<!--    display: flex;-->
<!--    justify-content: center;-->
<!--    margin: 0 auto;-->
<!--    max-width: 1200px;-->
<!--  }-->
<!--  .panel {-->
<!--    width: 60%;-->
<!--    margin: 110px;-->
<!--  }-->



<!--</style>-->

<div class="row">
  {% for entry in product_entries %}
    <div class="col-md-4">
      <div class="panel panel-primary" style="margin: auto; max-width:400px;">
        <div class="panel-heading" style="border: 3d2b1f; text: white;">Flower lovers attention!!!</div>
        <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2018/02/28/21/59/roses-3189198_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 5 flowers and get a gift card for 50 EUR!</div>

        <hr>
        <h2>{{ entry.title }}</h2>

        <br>
        <p>{{ entry.body }}</p>
        <br>
      </div>
    </div>
  {% endfor %}
</div>








      </div>
  </div>
  </div>
</div>

{% endblock %}