{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-12 justify-content-center gx-5 gy-5">
        {% for entry in products %}
        <div class="col-md-4">
            <div class="card h-100 ">
                <div>Flower lovers attention!!!</div>
                <img class="card-img-top all-images " src=" {{entry.image.url}} ">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ entry.title }}</h5>
                            <!-- Product price-->
                            {{ entry.euro }}
                        </div>
                    </div>
                <h6 style="padding-left: 1em"><span class="glyphicon glyphicon-hand-right"></span> Posted by
                    {{entry.author.username}}, {{entry.created_date}} </h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}