{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="row">

  {% for entry in p %}
    <div class="col-md-4">
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <div class="panel panel-primary custom-panel">
        <div class="panel-heading">Flower lovers attention!!!</div>
        <div class="panel-body"><img src="{{products.image.url}}" class="img-responsive product-image" alt="Image"></div>

        <hr>
        <h3 style="text-align: center;">{{ entry.title }}</h3>

        <br>
        <p style="text-align: center;">{{ entry.text }}</p>
        <br>
        <p style="text-align: center;">{{ entry.euro }}</p>
        <h6 style="padding-left: 1em"><span class="glyphicon glyphicon-hand-right"></span> Posted by {{entry.author.username}}, {{entry.created_date}} </h6>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}