{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="row">

  {% for entry in products %}
    <div class="col-md-4">
      <div class="panel panel-primary custom-panel product-panel">
        <div class="panel-heading">Flower lovers attention!!!</div>
        <div class="panel-body">
          <img src="{{products.image.url}}" class="img-responsive product-image" alt="Image"></div>

        <hr>
        <h3 class="title">{{ entry.title }}</h3>

        <br>
        <p class="text">{{ entry.text }}</p>

        <br>
        <p class="euro">{{ entry.euro }}</p>

        <br>

        <a href="{% url 'product_update' entry.pk %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'product_delete' entry.pk %}" class="btn btn-danger">Delete</a>
        <br>

        <h6 class="posted-by"> Posted by {{entry.author.username}}, {{entry.created_date}} </h6>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}